.navbar {
    background-color: #333;
    padding: 10px 20px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding:5px 5px;
    display: flex;

}

.nav-item {
    margin-top: 17px;
    margin-left: 20px;
    font-size: larger;
    margin-right: 10px;
    height: 24px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    
}

.nav-link:hover {
    text-decoration: underline; 
    /* background-color: #333; */
}

.nav-image {
    width: 90px; /* Adjust the width and height as needed */
    height: 70px;
    float: left;
    
    /* margin-left: 10px; */
     /* Adjust margin as needed */
}