.player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
    
}

.player-info {
    margin-top: 20px;
}

.player-info p {
    margin: 0;
    margin-bottom: 8px;
}

.player-info p strong {
    font-weight: bold;
    margin-right: 8px;
}

.fantasy-stats-container {
    width: 300px; 
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
