
.search-container {
    text-align: center;
    padding-top: 20px;
}

.search-bar {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the values to customize the shadow */
    border-radius: 5px; /* Add border-radius for a rounded corner effect */
}

.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.search-results li {
    font-size: 18px;
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 4px;
    margin-right: 10%;
    margin-left: 10%;
    
}

.search-results li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
