.seasons-stats {
    display: flex; 
    justify-content: space-between; 
    width: 200px;
    margin-left: 365px;
}

.seasons-div{
    margin-top: 50px;
    text-align: center;
}

.seasons-stat {
    flex: 1; 
    margin-right: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 300px;
}

.seasons-stat:last-child {
    margin-right: 0; 
}

.seasons-stat h3 {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #666;
    width: 210px;
}

.seasons-stat p {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
    width: 210px;
    padding-bottom: 10px;
}
